@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

#container{
	min-height: 100%;
	height: auto!important;
	height: 100%;
	position: relative;
	background-color: #F7FFFD
}

.main-body,.all-foot{
	width: 900px;
	margin: 0 auto;
}

.main-body{
	padding-bottom: 110px;
	margin-top: 20px;
}

.foot-1{
	color: #8A8A8A;
	font-size: 14px;
	line-height: 30px;
}

.sub-body{
	margin: 0;
	width: 100%;
	padding: 0 10px;
}

.main-foot{
	float: left;
}

.foot-img{
	float: right;
	margin: 40px 10px 0 0;
}

.ul-1, .date{
	color: #535353;
	margin: 0 2
}

a:hover{
	color:#707070
}

a{
	text-decoration: none;
}

body,input,button,label,select,option,textarea,fieldset,legend{
	font-family: "Microsoft Yahei","Times New Roman";
}

.date{
	float:right;
	position:relative;
}

